@font-face {
  font-family: opensans;
  src: url(../Fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
/*ESTILOS GENERALES*/
* {
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: small;
}

/*header*/
.header-content {
  background-color: #D8D9D8;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  gap: 100px;
  justify-content: center;
}

.Logo {
  margin: 20px 20px;
}

.buscador {
  /*margin: 50px 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.texto-ubicacion {
  margin: 50px 10px;
}

/*nav bar*/
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  color: #0449AF;
}
.navbar .navbar-item {
  color: #D8D9D8;
}
.navbar .navbar-items:hover {
  font-size: 18px;
}
.navbar .navbar-collapse {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0449AF;
}
@media (max-width: 1084px) {
  .navbar .navbar-items {
    font-size: 15px;
  }
}
@media (max-width: 926px) {
  .navbar .navbar-items {
    font-size: 13px;
  }
}
@media (max-width: 700px) {
  .navbar .navbar-items {
    font-size: 12px;
  }
}

/*I N D E X*/
.img-productos {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  gap: 40px;
  justify-content: center;
  align-items: baseline;
  margin: 100px;
}

.promociones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pie-index {
  background-color: blue;
  height: 1000px;
}

@media (max-width: 797px) {
  .promociones img {
    width: 400px;
  }
}
/*C R E A R   C U E N T A*/
.crear-cuenta {
  display: flex;
  justify-content: center;
  align-items: baseline;
  justify-items: center;
}

.titulo-crear {
  margin-right: 50px;
}

.boton {
  padding: 8px;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

/*N O S O T R O S*/
.img-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.grid {
  display: grid;
  justify-content: center;
  align-items: baseline;
  justify-items: center;
  padding: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 3fr 10px);
  gap: 10px;
  grid-template-areas: "descarga daniel carting" "carlosfranco andrea valen";
}

.grid img {
  border-radius: 5px;
}

.descarga {
  grid-area: descarga;
}

.daniel {
  grid-area: daniel;
}

.carting {
  grid-area: carting;
}

.carlosfranco {
  grid-area: carlosfranco;
}

.andrea {
  grid-area: andrea;
}

.valen {
  grid-area: valen;
}

@media (max-width: 980px) {
  .img-nosotros img {
    width: 600px;
  }
}
@media (max-width: 630px) {
  .img-nosotros img {
    width: 400px;
  }
}
@media (max-width: 410px) {
  .img-nosotros img {
    width: 350px;
  }
}
@media (max-width: 1020px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "descarga" "daniel" "carting" "carlosfranco" "andrea" "valen";
  }
}
/*texto*/
@media (max-width: 700px) {
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 15px;
  }
  h3 {
    font-size: 15px;
  }
  h5 {
    font-size: 15px;
  }
  p {
    font-size: 15px;
  }
}
.color {
  color: #0449AF;
}

.color {
  color: white;
}

/*# sourceMappingURL=style.css.map */
